/* colors */
.bg-dark-violet {
  background-color: var(--dark-violet);
}
.bg-dark-grayish-violet {
  background-color: var(--dark-grayish-violet);
}
.bg-very-light-gray {
  background-color: var(--very-light-gray);
}
.text-dark-grayish-violet {
  color: var(--dark-grayish-violet);
}

.text-very-light-gray {
  color: var(--very-light-gray);
}
