@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import url("./_reset.css");
@import url("./_a11y.css");
@import url("./_typography.css");
@import url("./_utilities.css");
@import url("./_media.css");
@import url("./_colors.css");

:root {
  /* font-family */
  --ff-heading: "Rubik", sans-serif;
  --ff-body: "Karla", sans-serif;

  /* colors */
  /* Deep Blue */
  --primary: 248 87% 41%;
  /* Banana */
  --secondary-100: 47 100% 50%;
  --secondary-200: 47 100% 70%;
  --secondary-300: 47 100% 80%;
  --secondary-400: 47 100% 90%;
  /* Lilac */
  --tertiary-100: 238 100% 90%;
  --tertiary-200: 238 100% 92%;
  --tertiary-300: 238 100% 94%;
  --tertiary-400: 238 100% 96%;
  /* Sunset */
  --quaternary-100: 19 100% 81%;
  --quaternary-200: 19 100% 86%;
  --quaternary-300: 19 100% 89%;
  --quaternary-400: 19 100% 95%;
  /* Lime Green */
  --quinary-100: 91 100% 73%;
  --quinary-200: 91 100% 80%;
  --quinary-300: 91 100% 90%;
  --quinary-400: 91 100% 95%;
  /* 50 Shades of Gray */
  --gray-100: 248 7% 10%;
  --gray-200: 248 7% 28%;
  --gray-300: 248 7% 40%;
  --gray-400: 248 7% 60%;
  --gray-500: 248 7% 75%;
  --gray-600: 248 7% 85%;
  --gray-700: 248 7% 90%;
  --gray-800: 248 7% 95%;

  /* Line heights */
  --lh-100: 100%;
  --lh-200: 115%;
  --lh-300: 120%;
  --lh-400: 130%;
  --lh-500: 140%;
  --lh-600: 150%;

  /* font-sizes */
  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1rem;
  --button-text: 1.25rem;
  --body: 1rem;
  --small: 0.8125rem;
}

@media (--sm) {
  :root {
    /* font-sizes */
    --h1: 3.5rem;
    --h2: 3rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --body: 1.25rem;
    --small: 0.875rem;
  }
}

/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: hsl(var(--gray-200));
  line-height: 1.5;
  overflow-x: hidden;
  /* min-height: 100vh;
	  overflow-x: hidden;
	  display: grid;
	  grid-template-rows: min-content 1fr; */
}

/* a:focus-visible {
  outline: 2px dotted white;
  outline-offset: 1rem;
}

button:focus-visible {
  outline: 2px dotted white;
  outline-offset: 0.5rem;
  border-radius: 0;
} */
