@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import url("./_reset.css");
@import url("./_a11y.css");
@import url("./_typography.css");
@import url("./_utilities.css");
@import url("./_media.css");
@import url("./_colors.css");

:root {
  /* font-family */
  --ff-heading: "DM Serif Display", serif;
  --ff-body: "Karla", sans-serif;

  /* colors */
  /* Dark Violet */
  --dark-violet: hsl(256, 26%, 20%);
  /* Grayish Blue */
  --grayish-blue: hsl(216, 30%, 68%);
  /* Very Dark Violet */
  --very-dark-violet: hsl(270, 9%, 17%);
  /* Dark Grayish Violet */
  --dark-grayish-violet: hsl(273, 4%, 51%);
  /* Very Light Gray */
  --very-light-gray: hsl(0, 0%, 98%);

  /* font-sizes */
  --h1: 3rem;
  --h2: 1.75rem;
  --h3: 2.5rem;
  --body: 1rem;
  --small: 0.875rem;
  --link: 0.937rem;
}

@media (--md) {
  :root {
    /* font-sizes */
    --h1: 4.5rem;
    --h3: 3.4375rem;
  }
}

/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--very-dark-violet);
  line-height: 26px;
  letter-spacing: 0.0025em;
  overflow-x: hidden;
  /* min-height: 100vh;
	  overflow-x: hidden;
	  display: grid;
	  grid-template-rows: min-content 1fr; */
}

/* a:focus-visible {
  outline: 2px dotted white;
  outline-offset: 1rem;
}

button:focus-visible {
  outline: 2px dotted white;
  outline-offset: 0.5rem;
  border-radius: 0;
} */
