<section class="container" id="features" aria-label="features section">
  <div class="line"></div>
  <h2 class="h2">We're different</h2>
</section>

<style>
  @import url("../styles/_media.css");
  .line {
    @media (--md) {
      padding-top: 19.125rem;
    }
  }
</style>
